/*
   from: http://colorschemedesigner.com/#2531TFiRRw0w0
   Yellows
      D7FD00
      A8BE27
      8CA400
      E1FE3F
      E9FE72
      
   Magentas
      F60053
      B92E5D
      A00036
      FB3F7E
      FB719F
   
   Purples
      660EE8
      6533A3
      400597
      8D48F3
      A876F3
*/
/*
   round two
      99FFCC - light mint
      66FFCC
      99FF66 - light green
      
      99ccff - light blue
*/

body {
  
   background-color: #F8DFCD;
  /* 
   background-image:url('../img/tiles4.jpg');
   */
   
   color: #DD8F00;
   font-size: 18px;
}


h1 {
  text-align: center;
  color: #DD8F00;
  
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 74px;
  letter-spacing: 10px;
  font-size: 74px;
}

h2 {
   text-align: center;
   font-size: 34px;
   font-family: "futura-pt",sans-serif;
   font-style: normal;
   font-weight: 100;
   text-transform: uppercase;
   margin: 45px auto 0 auto;
}

.super-large {
   font-size: 100px;
   font-weight: 200;
   
}
.hero-unit {
   
}

p {
   font-family: "anivers",sans-serif;
}

.centered-pills { 
   text-align:center; 
   margin: 50px auto;
}
.centered-pills ul.nav-pills { 
   display:inline-block;
}
.centered-pills li { 
   display:inline; 
}
.centered-pills a { 
   float:left; 
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
   color: #F8DFCD !important;
   background-color: #DD8F00;
}

.nav > li > a:hover, .nav > li > a:focus {
   background-color: #F8DFCD;
}

a {
   color: #DD8F00 !important;
   text-decoration: underline;
   
   font-family: "futura-pt",sans-serif;
   font-style: normal;
}

.map {
   width: 700px;
   margin: 50px auto 0px;
}

.map p {
   text-align: center;
}

.row {
   margin: 25px auto;
}

.row p {
   font-family: "futura-pt",sans-serif;
   font-style: normal;
   font-size: 18pt;
   line-height: 24pt;
   
   text-align: center;
   margin: 40px auto 0 auto;
}

li {
   font-family: "futura-pt",sans-serif;
   font-style: normal;
   font-size: 18pt;
   line-height: 24pt;
   margin: 0px 0px 25px 0px;
}

.accomo-list ul {
   margin: 25px 80px 0 80px;
}

.left {
   float: left;
}

p.left {
   text-align: left;
}

.right {
   float: right;
}

.accomo-list {
   margin: 95px 50px 0 50px;
}

.rsvp-form {
   width: 50%;
   margin: 25pt auto;
}

.top-spacer {
   margin-top: 150px;
}